<div class="d-flex justify-content-around">
<h1><%= @restaurant.name %></h1>
<button class="btn btn-primary"><%= link_to 'add a review', new_restaurant_review_path(@restaurant) %></button>
</div>

<p>This is a <%= @restaurant.category %> retaurant at <%= @restaurant.address %></p>
<p>tel: <%= @restaurant.phone_number %></p>

<% @reviews.each do |review| %>
  <ul class="list-group">
    <li class="list-group-item"><%= review.rating %>: <%= review.content %></li>
  </ul>
<% end %>

<button class="btn btn-secondary m-3"><%= link_to 'go back', restaurants_path %></button>